<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- properties:属性配置 
    		property:一个具体的属性配置
    		resource:引入类路径下的属性文件
    		url:引入网络路径或磁盘路径下的属性文件
    -->
	<properties resource="db.properties">
		<!-- <property name="jdbc.driver" value="com.mysql.jdbc.Driver"/> -->
	</properties>
	
	<!-- settings:包含了很多重要的设置项 -->
	<settings>
		<!-- 映射下划线到驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- typeAliases:别名处理
			<typeAlias>:给某个java类型去别名	
			 	type:指定java的全类名
			 	alias:指定别名，默认的别名就是类名
			<package>:为指定的包以及子包下的类批量去别名
				如果有别名冲突的情况，可以使用@Alias注解为冲突的类具体指定别名
	-->
	<typeAliases>
		<typeAlias type="cn.ksdshpx.mybatis.beans.Employee" alias="Employee"/>
		<!-- <package name="cn.ksdshpx.mybatis.beans"/> -->
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url"
					value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 引入SQL映射文件 -->
	<mappers>
		<mapper resource="EmployeeMapper.xml" />
	</mappers>

</configuration>